/* Set up font size for accessibility */

html{
    font-size: 62.5%;
   
}

/* Set up page body */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header Style */
header{
    background-color: #1F2937 ;
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-logo, .header-links{
    margin: 20px 20px;
    font-size: 1.8rem;
    margin-right: 10%;
    margin-left: 10%;
}

.header-logo{
    font-size: 2.4rem;
}

a{
    text-decoration: none;
    justify-content: space-between;
    color: white;
}

a:hover{
    color: gray;
}


.first-section{
    background-color: #1F2937 ;
    color: white;
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    justify-content: space-between;
}

h1{
    margin: 0;
    font-size: 4.8rem;

}

.hero-image{
    width: 350px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 100px;


}

.second-section{

}

.third-section{

}

.fourth-section{
    
}

button{
    background-color: #3882F6;
    color: white;
    border: white;
    font-size: 1.8rem;
    padding: 10px 50px;
    border-radius: 10px;

}

p{
    font-size: 1.8rem;

}